PORT=3001
NODE_ENV=production

# Configurações do Servidor FTP (Consuldata / ERP)
FTP_HOST=ftp.consuldatasistemas.com.br
FTP_PORT=21
FTP_USER=consuldata
FTP_PASSWORD="sua_senha_aqui"
FTP_DIR=clientes/nome_do_cliente

# Agendamento da Sincronização Automática (Ex: a cada 5 minutos)
SYNC_CRON="*/5 * * * *"
